@import '_global';

// text
$fontSize: 20px;

// main menu
$menuTextColor: #f5f5f5;
$menuBackgroundColor: $darkGrey;
$menuFocusColor: #a4a4a4;

nav {
  background-color: $menuBackgroundColor;

  .text-container {
    padding: 0px 10px;
  }

  .user-container {
    display: flex;
    justify-content: space-between;
  }

  .logoContainer {
    $logoHoverHeight: 46px;

    height: $logoHoverHeight;
    width: $logoHoverHeight;

    display: flex;
    align-items: center;
    justify-content: space-around;

    img {
      // values for bounce animation
      $bounceTiming: ease-in-out;
      $bounceDuration: 0.6s;

      transition: $bounceDuration/2 ease;

      &.logo {
        $height: 40px;
        $hoverHeight: $logoHoverHeight;

        height: $height;

        &:hover {
          height: $hoverHeight;

          animation-name: bounceLogo;
          animation-timing-function: $bounceTiming;
          animation-duration: $bounceDuration;
        }

        @keyframes bounceLogo {
          from {
            height: $height;
          }
          50% {
            height: $hoverHeight;
          }
          75% {
            height: ($height + $hoverHeight) / 2;
          }
          to {
            height: $hoverHeight;
          }
        }
      }

      &.menuIcon {
        $height: 30px;
        $hoverHeight: 36px;

        height: $height;

        &:hover {
          height: $hoverHeight;

          animation-name: bounceMenu;
          animation-timing-function: $bounceTiming;
          animation-duration: $bounceDuration;
        }

        @keyframes bounceMenu {
          from {
            height: $height;
          }
          50% {
            height: $hoverHeight;
          }
          75% {
            height: ($height + $hoverHeight) / 2;
          }
          to {
            height: $hoverHeight;
          }
        }
      }
    }
  }

  .text-link {
    font-size: $fontSize;
    font-weight: bold;

    color: $menuTextColor;

    img {
      @media only screen and (min-width: $tabletLimit) {
        margin-left: 10px;
      }
    }

    &:hover {
      color: $menuBackgroundColor;
      background-color: $menuTextColor;
    }

    &:focus {
      color: $menuTextColor;
      background-color: $menuFocusColor;
    }
  }

  .dropdown-menu {
    width: 300px;

    color: $menuTextColor;
    background-color: $menuBackgroundColor;
    border: none;
    border-radius: 0px;
  }

  // Hide the tablet menu when in desktop mode
  .tabletMenu {
    @media only screen and (min-width: $tabletLimit) {
      display: none;
    }

    .dropdown-menu {
      top: 5px;
    }

    .subMenuItem {
      margin-left: 10px;
    }
  }
}

