@import '_global';

// text
$fontSize: 20px;

// main menu
$menuTextColor: #f5f5f5;
$menuBackgroundColor: $darkGrey;

// submenu
$subMenuBackgroundColor: #1B1B1B;

nav {
  background-color: $menuBackgroundColor;

  .text-container {
    padding: 0px 10px;
  }

  .text-link {
    font-size: $fontSize;
    font-weight: bold;

    color: $menuTextColor;

    img {
      margin-left: 20px;
    }

    &:hover {
      color: $menuBackgroundColor;
      background-color: $menuTextColor;
    }


  }
}
